In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [19]:
series_obj = Series(np.arange(8), index=[['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8',]])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [7]:
series_obj['row 7']

row 7    6
dtype: int64

In [8]:
series_obj[6]

6

In [9]:
series_obj[0,6]

KeyError: 'Key length (2) exceeds index depth (1)'

In [10]:
series_obj[[0,6]]

row 1    0
row 7    6
dtype: int64

In [14]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)), index = ['row 1','row 2','row 3','row 4','row 5','row 6'],
                  columns =['col 1','col 2','col 3','col 4','col 5','col 6'])
DF_obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [16]:
DF_obj.loc[['row 2','row 5'], ['col 2']]

          col 2
row 2  0.437611
row 5  0.559053

In [20]:
DF_obj < 0.2

       col 1  col 2  col 3  col 4  col 5  col 6
row 1  False  False  False   True  False   True
row 2  False  False  False  False  False   True
row 3  False  False   True  False  False  False
row 4  False  False  False  False  False  False
row 5  False  False   True  False  False  False
row 6  False  False  False  False  False  False

In [21]:
DF_obj[DF_obj < 0.2]

       col 1  col 2     col 3     col 4  col 5     col 6
row 1    NaN    NaN       NaN  0.185911    NaN  0.117376
row 2    NaN    NaN       NaN       NaN    NaN  0.113041
row 3    NaN    NaN  0.161985       NaN    NaN       NaN
row 4    NaN    NaN       NaN       NaN    NaN       NaN
row 5    NaN    NaN  0.034450       NaN    NaN       NaN
row 6    NaN    NaN       NaN       NaN    NaN       NaN